# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map

# Precompiled Headers
*.gch
*.pch

# Debug files
*.dSYM/
*.su
*.idb

# Visual Studio files
.vs/
.vscode/

# Cmake files
build-shared
build-static
.cmake
CPack*
CMakeFiles
CMakeScripts
CMakeCache.txt
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.vcxproj*
*.sln
*.tlog
*.recipe
out/